.home {
  padding-left: 2em;
  padding-right: 2em;

  .text {
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    width: 500px;
    height: 290px;
    color: #D9D9D9;

    span {
      color: #13B0F5;
    }

  }

  .photo {
    border-radius: 230px;
  }

  @media (max-width: 768px) {
    .text {
      font-size: 40px;
      width: 300px;
      text-align: center;
    }
    .photo {
      margin-bottom: 32px;
    }

  }
}