.projectCard {
  width: 375px;
  height: 570px;
  background: #FFFFFF;
  box-shadow: 2px 2px 100px rgba(0, 0, 0, 0.2);
  border-radius: 20px;


  img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  h2 {
    color: #000000;
    font-weight: 600;
    font-size: 24px;
    overflow: hidden;
    word-wrap: break-word;
  }

  p {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #666666;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    word-wrap: break-word;
  }

  h3 {
    padding-left: 1.95em;
    padding-right: 1.95em;
    color: #42446E;
    font-weight: 500;
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
  }

}